#title{
    -fx-font-size: 20px;
    -fx-font-family: Arial;
    -fx-text-alignment: center;
}
#peoples{
    -fx-text-alignment: center;
    -fx-font-family: Arial;
    -fx-font-size: 15px;
    -fx-font-style: italic;
}
#content{
    -fx-font-family: "Comic Sans MS";
    -fx-text-alignment: center;
    -fx-font-size: 15px;
}
#main{
    -fx-background-image: url("../../img/fond_fenetre_dialogue.jpg");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-text-fill:white;
}
#submain{
    -fx-background-color: rgba(0,0,0,0.4);
    -fx-background-radius: 20px;
}
